<div class="container" id="loginpanel">
  <div class="form-container sign-in-container">
    <form id="form-panel">
      <h1>Sign in</h1>
      <input type="text" placeholder="Email" #name/>
      <input type="password" placeholder="Password" #pass/>
      <button type="button" (click)="login(name,pass)">Sign In</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>If you don't have an account, then create one!</p>
        <input type="text" placeholder="Email" #email/>
        <input type="password" placeholder="Password" #password/>
        <button class="ghost" (click)="registration(email,password)">Registration</button>
      </div>
    </div>
  </div>
</div>
